.entrar{
    visibility: visible !important;
    color: white !important;
    background-color: blue !important; 
}

.telLog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    }

