.inicio{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 78px;
      background-color: #FCF4F4;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
      padding: 0px 5%;
    
  }
  .inici {
    border-radius: 10px;
    width: 90%;
    height: 670px;
    background-repeat: no-repeat;
    background: #FCF4F4;
    background-size: 100%;
    position: relative;
    justify-content: space-evenly;
	  align-items: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    /* -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  */
  }

   .telaInicio {
    display: flex;
    position: absolute;
    background-color: #091D66;
    width: 100%;
    height: 92vh;
    flex-direction: column;
    align-items: center;  
    
  }
.imgIni{
	display: inline-block;            
  width: 300px;
  height: 70px;
  cursor: pointer;
}
.exit{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.botoes{
	list-style: none;
  display: flex;
}
.btUsuario{
  display: flex;
  margin: 0 1em; 
  font-size: 20px;
  width: 180px;
  height: 46px;
  transform: translateX(-187%);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #FCF4F4 !important;
  color: black !important;
  font-weight: bold !important;
}

.btPesquisa{
  border-radius: 6px;
  text-align: left;
  transform: translateX(80%);
  display: flex;
  width: 400px;
  height: 46px;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  
}

.btsBaixo{
	list-style: none;
  display: flex;
}
.btBaixo{
  display: flex;
  margin: 0 1em; 
  font-size: 20px;
  width: 180px;
  height: 46px;
  transform: translateX(355%);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #FCF4F4 !important;
  color: black !important;
  font-weight: bold !important;
}

