.telaMandarEtiqueta{
    width: 100vw;
    height: 100vh;
    background-color: #091D66;
}

.formsMandar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formsMandarEtiqueta{
    margin-top: 3%;
    width: 65%;
    height: 10vh;
    display: flex;
    border-radius: 6px; 
    background-color: #FCF4F4 !important;
}

.formsMandarProduto{
    margin-top: 12%;
    width: 65%;
    height: 10vh;
    display: flex;
    border-radius: 6px;
    background-color: #FCF4F4 !important;
}

.areaBotoesMandarEtiqueta{
	list-style: none;
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btns{
    display: flex;
    margin: 0 1em; 
    font-size: 20px;
    width: 180px;
    height: 46px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #FCF4F4 !important;
    color: black !important;
    font-weight: bold !important;
}