
#salvar{
    background-color: blue !important;
    color: white !important;
}
.voltar{
    transform: translateX(43%);
    display: flex;
    margin: 0 1em; 
    font-size: 20px;
    width: 180px;
    height: 46px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin-bottom: 1%;
    background-color: #FCF4F4 !important;
    color: black !important;
    font-weight: bold !important;
}
.forms{
    text-align: center;
    top: 60% ;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 90%;
    height: 450px;
    position: absolute;
    background: #FCF4F4;
    background-size: 100%;
    
   
    
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    
}


.full-screen-div{
    background: blue !important;
    height: 100vh;
    

}

.btBaixoCadastroProduto{
    display: flex;
    margin: 0 1em; 
    font-size: 20px;
    width: 180px;
    height: 46px;
    transform: translateX(355%);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #FCF4F4 !important;
    color: black !important;
    font-weight: bold !important;
    margin-top: 32%;
    margin-left: 4%;
}
#cancelar{
    color: silver !important;
}
